* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mallanna", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #dee1ff;
}

.esquerdo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 70px;
}

.direita {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 30px;
}

.persona {
  display: flex;
  justify-content: center;
  color: #5a94b1;
  height: 15px;
}
/* .cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;   
} */
.apelido input {
  border: #ffff solid;
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  gap: 19px;
}

.data input {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff solid;
}

.phone input {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  border: #ffff solid;
  height: 40px;
}

.local input {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  border: #ffff solid;
  height: 40px;
}

.cores {
  display: flex;
  justify-content: space-evenly;
  width: 330px;
}

.tema {
  display: flex;
  justify-content: flex-start;
}

.tema p {
  color: #392d6e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 140px;
}

.corroxo img {
  border-radius: 200px;
  width: 75px;
  height: 75px;
  background-color: #bcc1ff;
}

.corroxo p {
  background: none;
}

.foto img {
  height: 350px;
  width: 394px;
  top: 15%;
  right: 90px;
  object-fit: cover;
  position: absolute;
}

.perfil {
  display: flex;
  color: #7773b1;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 29px;
}

.prox {
  display: flex;
  background-color: #67a4b4;
  margin: 10px;
  width: 158px;
  height: 26px;
  border-radius: 20px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 90px;
  top: 500px;
  padding-right: 130px;
}

.perfil button {
  color: #ffff;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0;

  border: #dee1ff solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee1ff;
  color: #392d6e;
  border-radius: 20px;
  width: 158px;
  height: 30px;
  cursor: pointer;
}

.prox button {
  border: #67a4b4 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #67a4b4;
  color: white;
  border-radius: 20px;
  width: 158px;
  height: 30px;
  cursor: pointer;
}
