* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mallanna", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #dee1ff;
}

.esquerdo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 70px;
}

.direita {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 30px;
}

.persona {
  display: flex;
  justify-content: center;
  color: #5a94b1;
  height: 15px;
}
/* .cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;   
} */
.apelido {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  gap: 19px;
}
.apelido p {
  opacity: 50%;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.data {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}
.data p {
  opacity: 50%;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.phone {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}
.phone p {
  opacity: 50%;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.local {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

.local p {
  opacity: 50%;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.cores {
  display: flex;
  justify-content: space-evenly;
  width: 330px;
}

.tema {
  display: flex;
  justify-content: flex-start;
}

.tema p {
  color: #392d6e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 140px;
}

.corroxo img {
  border-radius: 200px;
  width: 75px;
  height: 75px;
  background-color: #bcc1ff;
}

.corroxo p {
  background: none;
}

.direita {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 30px;
}

.foto img {
  height: 350px;
  width: 394px;
  top: 15%;
  right: 90px;
  object-fit: cover;
  position: absolute;
}

.perfil {
  display: flex;
  color: #7773b1;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.prox {
  display: flex;
  background-color: #67a4b4;
  margin: 10px;
  width: 158px;
  height: 26px;
  border-radius: 20px;
}

.prox p {
  color: white;
  height: 24px;
  width: 69px;
  padding-left: 50px;
  align-items: center;
}

.div {
  display: flex;
  flex-direction: column;
  padding-right: 170px;
  align-items: center;
  padding-bottom: 30px;
}
