*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DEE1FF;
  background-image: url(../images/logoopaca.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: initial;
  justify-content: center;
  
}

    

.titulo{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #66629A;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.perfil img{
  width: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
}

.inseguranças input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  gap: 19px;
  border: #ffff;
  padding: 5px;
}

.inseguranças p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  
}

.autoestima input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff;
  padding: 5px;

}

.autoestima p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;;
}

.confiança input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff;
  padding: 5px;

}

.confiança p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.medo input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff;
  padding: 5px;
}

.medo p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.avaliação input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff;
  padding: 5px;
}

.avaliação p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
} 

.melhoras input{
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  border: #ffff;
}

p{
  color: #7773B1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-family: arial, sans-serif;   
}



.perguntas1{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.perguntas2{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;
}

.questionario{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 70px;
  
}

.botao button{
  display: flex ;
  background-color: #67A4B4;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 158px;
  height: 35px;
  border-radius: 20px;
}

.entre {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

