* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee1ff;
  background-image: url(../images/logoopaca.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: initial;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #66629a;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.perfil img {
  width: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.inseguranças {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
  gap: 19px;
}

.inseguranças p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.autoestima {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

.autoestima p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.confiança {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

.confiança p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.medo {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

.medo p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.avaliação {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

.avaliação p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.melhoras {
  background-color: white;
  border-radius: 20px;
  width: 390px;
  height: 40px;
}

p {
  color: #7773b1;
  background: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-family: arial, sans-serif;
}

.perguntas1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.perguntas2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;
}

.questionario {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 70px;
}

.botao {
  display: flex;
  background-color: #67a4b4;
  align-items: center;
  margin: 10px;
  width: 158px;
  height: 35px;
  border-radius: 20px;
}

.botao p {
  display: flex;
  align-items: center;
  color: white;
  height: 24px;
  width: 69px;
  padding-left: 60px;
}

.entre {
  display: flex;
  justify-content: center;
  align-items: center;
}
