* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.fundo {
  display: flex;
  width: 100%;
  height: 100%;
}


.area {
  width: 6vw;
  background: #BFBAFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #BFBAFF;
}

.area nav ul {
  list-style: none;
}

.area nav ul li {
  margin: 20px;
  border: 1px solid #AAA8C5;
  font-size: 40px;
  cursor: pointer;
  background-color: #DEE1FF;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 10vw;
}

.segundo_container {
  flex: 1;
  background: #D9F7FF;
  padding: 20px;
  width: 100%;
}

.busca {
  width: 81vw;
  margin-bottom: 20px;
}

.busca input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.quadrado_roxo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #B9BEF2;
  height: 90%;
  width: 80vw;
  padding: 10px; 
  gap: 13px;  
}
  
.cartoes{
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  margin: 10px;
  padding: 10px;   
  align-items: start;

}
.coluna1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card1 img{
  display: flex;
  width: 40%;
}
.card1 {
  display: flex;
  flex-direction: column;
  background: #D0CDFF;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 275px;
  height: 145px;
}
.frase1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #7672AE;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #D0CDFF;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 275px;
  height: 145px;
  color: #7672AE;
}


.cardProfissional {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #D0CDFF;
  border-radius: 12px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  width: 275px;
  height: 305px;
  color: #7672AE;
}

.coluna2{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 300px;
}

.cardmaior {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #D0CDFF;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  color: #7672AE;
  font-size: 14px;
  width: 275px;
  height: 145px;
}


.coluna3{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 300px;
  
}

.card_destaque {
  grid-column: span 2;
  grid-row: span 2;
  background: #fddedf;
  font-size: 20px;
  width: 250px;
  height: 464px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.coluna4{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 300px;
}

.colunas{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #D0CDFF;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 175px;
  height: 145px;
  color: #7672AE;
}

.cardmedia {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #D0CDFF;
  border-radius: 5px;
  padding: 13px;
  font-weight: bold;
  font-size: 14px;
  width: 175px;
  height: 304px;
  color: #7672AE;
}


