* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.fundo {
  display: flex;
  width: 100%;
  height: 100%;
}

.area {
  width: 6%;
  background: #bfbaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.perfil {
  width: 4vw;
  border-radius: 50%;
  background: #bfbaff;
}

.area ul img {
  padding: 15px;
  margin: 5px;
  border: 1px solid #aaa8c5;
  font-size: 40px;
  cursor: pointer;
  background-color: #dee1ff;
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10vw;
}

.segundo_container {
  flex: 1;
  background: #d9f7ff;
  padding: 20px;
  height: 100vh;
  width: 100%;
}

.busca {
  display: flex;
  width: 81vw;
  margin-bottom: 21px;
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.busca p {
  display: flex;
  align-items: center;
  color: #a8a8a8;
}
.busca img {
  display: flex;
  width: 2vw;
}
.quadrado_roxo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #b9bef2;
  width: 90%;
  padding: 20px;
  gap: 16px;
  margin: 40px;
}

.coluna1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card1 img {
  display: flex;
  width: 40%;
  height: 100%;
}
.card1 {
  display: flex;
  flex-direction: column;
  background: #d0cdff;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 145px;
}
.frase1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #7672ae;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f7b35e;
  font-size: 45px;
  padding: 11px;
  font-weight: bolder;
  color: #994b9a;
  font-family: "Cantora One", sans-serif;
  border-radius: 12px;
  font-weight: bolder;
  width: 100%;
  height: 145px;
}

.cardProfissional {
  display: flex;
  text-align: center;
  background: #d0cdff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 305px;
  color: #7672ae;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardProfissional img {
  width: 200px;
}

.coluna2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card2 {
  display: flex;
  flex-direction: column;
  background: #d0cdff;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 145px;
  color: #7672ae;
  font-weight: bold;
}
.card2 img {
  display: flex;
  width: 40%;
  height: 100%;
}

.cardmaior {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 70px;
  font-weight: bolder;
  color: #760306;
  font-size: 20px;
  width: 100%;
  height: 145px;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
}

.coluna3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card_destaque {
  display: flex;
  grid-column: span 2;
  grid-row: span 2;
  background: #fddedf;
  font-size: 35px;
  width: 100%;
  height: 464px;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Libre Baskerville", serif;
}

.coluna4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.colunas img {
  display: flex;
  width: 40%;
  height: 100%;
}

.colunas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5cbe3;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 145px;
  color: #000000;
  flex-direction: column;
}

.cardmedia {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffeef4;
  border-radius: 5px;
  padding: 13px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 304px;
  color: #eb7699;
  gap: 10px;
  font-family: "Libre Baskerville", serif;
}

.cardmedia img {
  display: flex;
  width: 40%;
}

.cap {
  display: flex;
  color: #eb7699;
  justify-content: center;
  font-size: 10px;
}
